In [6]:
# Dependencies
import pandas as pd

In [7]:
#file to load into notebook
file= "../Data/voting-age.csv"

#store the purchase_data file into a data frame
age_states = pd.read_csv(file)

#store the ages in a dataframe
age_df=pd.DataFrame(age_states)
age_df.head(5)

,"Table with row headers in column A, and column headers in rows 4 through 5.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,STATE,Age,Total Population,Total Citizen Population,Total registered,Percent registered\n(Total),Margin of Error 1 - Registered,Percent registered\n(Citizen),Margin of Error 1 - Registered,Total voted,Percent voted\n(Total),Margin of Error 1 - Voted,Percent voted\n(Citizen),Margin of Error 1 - Voted,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US,Total,"245,502","224,059","157,596",64.2,0.3,70.3,0.3,"137,537",56.0,0.3,61.4,0.3,NaN,NaN,NaN,NaN,NaN
3,US,18 to 24,"29,320","26,913","14,905",50.8,0.9,55.4,0.9,"11,560",39.4,0.9,43.0,0.9,NaN,NaN,NaN,NaN,NaN
4,US,25 to 34,"43,794","38,283","24,682",56.4,0.7,64.5,0.8,"20,332",46.4,0.7,53.1,0.8,NaN,NaN,NaN,NaN,NaN

In [8]:
 #grab the first row for the header.
age_header = age_df. iloc[0]

#take the data less the header row.
age_tables = age_df[1:] 

#set the header row as the df header.
age_tables . columns =age_header 

#select only the columns that we want from the csv
i=age_tables.iloc[:,0:14]

#select all rows except for the last two which are NANs
ages_df=i[1:313]
ages_df=ages_df.rename(columns = {'STATE': 'state','Age':'age','Total Citizen Population':'total_citizen_population',
                          'Percent registered\n(Citizen)':'percent_registered_citizen',
                          'Percent voted\n(Citizen)':'percent_voted_citizen'})

In [9]:
#view rows with "B"
ages_df[ages_df.values == 'B']
#replace the B with Nan and save as a new dataframe
clean_data_age=ages_df.replace(to_replace ="B", value ="Nan")
clean_data_age

,state,age,Total Population,total_citizen_population,Total registered,Percent registered\n(Total),Margin of Error 1 - Registered,percent_registered_citizen,Margin of Error 1 - Registered,Total voted,Percent voted\n(Total),Margin of Error 1 - Voted,percent_voted_citizen,Margin of Error 1 - Voted
2,US,Total,"245,502","224,059","157,596",64.2,0.3,70.3,0.3,"137,537",56.0,0.3,61.4,0.3
3,US,18 to 24,"29,320","26,913","14,905",50.8,0.9,55.4,0.9,"11,560",39.4,0.9,43.0,0.9
4,US,25 to 34,"43,794","38,283","24,682",56.4,0.7,64.5,0.8,"20,332",46.4,0.7,53.1,0.8
5,US,35 to 44,"39,905","34,327","23,948",60.0,0.8,69.8,0.8,"20,662",51.8,0.8,60.2,0.8
6,US,45 to 64,"83,799","77,544","57,394",68.5,0.5,74.0,0.5,"51,668",61.7,0.5,66.6,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,WYOMING,18 to 24,57,55,33,Nan,Nan,Nan,Nan,30,Nan,Nan,Nan,Nan
310,WYOMING,25 to 34,75,73,47,Nan,Nan,Nan,Nan,42,Nan,Nan,Nan,Nan
311,WYOMING,35 to 44,70,68,46,Nan,Nan,Nan,Nan,40,Nan,Nan,Nan,Nan
312,WYOMING,45 to 64,151,148,110,72.9,4.4,74.2,4.4,102,67.4,4.7,68.6,4.7
313,WYOMING,65+,83,83,68,Nan,Nan,Nan,Nan,63,Nan,Nan,Nan,Nan

In [10]:
clean_data_age_df=clean_data_age.set_index("state")
clean_ages=clean_data_age_df[['age','total_citizen_population','percent_registered_citizen','percent_voted_citizen']]
clean_ages

,age,total_citizen_population,percent_registered_citizen,percent_voted_citizen
state,,,,
US,Total,"224,059",70.3,61.4
US,18 to 24,"26,913",55.4,43.0
US,25 to 34,"38,283",64.5,53.1
US,35 to 44,"34,327",69.8,60.2
US,45 to 64,"77,544",74.0,66.6
...,...,...,...,...
WYOMING,18 to 24,55,Nan,Nan
WYOMING,25 to 34,73,Nan,Nan
WYOMING,35 to 44,68,Nan,Nan
WYOMING,45 to 64,148,74.2,68.6
WYOMING,65+,83,Nan,Nan

In [11]:
clean_ages.to_csv('../Clean_Data/voting_ages.csv')

In [12]:
#file to load into notebook
file= "../Data/voting-sex-race.csv"

#store the purchase_data file into a data frame
sex_races = pd.read_csv(file)

#store the ages in a dataframe
sex_races_df=pd.DataFrame(sex_races)
sex_races

,"Table with row headers in columns A and B, and column headers in rows 4 through 5.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,STATE,"Sex, Race and Hispanic-Origin",Total Population,Total Citizen Population,Total registered,Percent registered\n(Total),Margin of Error 1,Percent registered\n(Citizen),Margin of Error 1,Total voted,Percent voted\n(Total),Margin of Error 1,Percent voted\n(Citizen),Margin of Error 1,NaN,NaN,NaN,NaN,NaN
1,US,Total,"245,502","224,059","157,596",64.2,0.3,70.3,0.3,"137,537",56.0,0.3,61.4,0.3,NaN,NaN,NaN,NaN,NaN
2,US,Male,"118,488","107,554","73,761",62.3,0.4,68.6,0.4,"63,801",53.8,0.4,59.3,0.5,NaN,NaN,NaN,NaN,NaN
3,US,Female,"127,013","116,505","83,835",66.0,0.4,72.0,0.4,"73,735",58.1,0.4,63.3,0.4,NaN,NaN,NaN,NaN,NaN
4,US,White alone,"192,129","177,865","127,463",66.3,0.3,71.7,0.3,"111,891",58.2,0.3,62.9,0.4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#grab the first row for the header.
sex_races_header = sex_races. iloc[0]

#take the data less the header row.
sr_df = sex_races[1:] 

#set the header row as the df header.
sr_df . columns =sex_races_header

#select only the columns that we want from the csv
new_sex_race_df=sr_df.iloc[:,0:14]
new_sex_race_df

,STATE,"Sex, Race and Hispanic-Origin",Total Population,Total Citizen Population,Total registered,Percent registered\n(Total),Margin of Error 1,Percent registered\n(Citizen),Margin of Error 1,Total voted,Percent voted\n(Total),Margin of Error 1,Percent voted\n(Citizen),Margin of Error 1
1,US,Total,"245,502","224,059","157,596",64.2,0.3,70.3,0.3,"137,537",56.0,0.3,61.4,0.3
2,US,Male,"118,488","107,554","73,761",62.3,0.4,68.6,0.4,"63,801",53.8,0.4,59.3,0.5
3,US,Female,"127,013","116,505","83,835",66.0,0.4,72.0,0.4,"73,735",58.1,0.4,63.3,0.4
4,US,White alone,"192,129","177,865","127,463",66.3,0.3,71.7,0.3,"111,891",58.2,0.3,62.9,0.4
5,US,White non-Hispanic alone,"157,395","154,450","114,151",72.5,0.3,73.9,0.3,"100,849",64.1,0.4,65.3,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#select all rows except for the last two which are NANs
sexrace_df=new_sex_race_df[1:572]
sexrace_df

,STATE,"Sex, Race and Hispanic-Origin",Total Population,Total Citizen Population,Total registered,Percent registered\n(Total),Margin of Error 1,Percent registered\n(Citizen),Margin of Error 1,Total voted,Percent voted\n(Total),Margin of Error 1,Percent voted\n(Citizen),Margin of Error 1
2,US,Male,"118,488","107,554","73,761",62.3,0.4,68.6,0.4,"63,801",53.8,0.4,59.3,0.5
3,US,Female,"127,013","116,505","83,835",66.0,0.4,72.0,0.4,"73,735",58.1,0.4,63.3,0.4
4,US,White alone,"192,129","177,865","127,463",66.3,0.3,71.7,0.3,"111,891",58.2,0.3,62.9,0.4
5,US,White non-Hispanic alone,"157,395","154,450","114,151",72.5,0.3,73.9,0.3,"100,849",64.1,0.4,65.3,0.4
6,US,Black alone,"30,608","28,808","19,984",65.3,1.0,69.4,1.0,"17,119",55.9,1.1,59.4,1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,WYOMING,Asian alone,6,4,3,B,B,B,B,3,B,B,B,B
569,WYOMING,Hispanic (of any race),32,26,15,B,B,B,B,12,B,B,B,B
570,WYOMING,White alone or in combination,409,404,289,70.5,2.8,71.6,2.8,264,64.6,2.9,65.5,2.9
571,WYOMING,Black alone or in combination,6,6,6,B,B,B,B,4,B,B,B,B
572,WYOMING,Asian alone or in combination,7,4,3,B,B,B,B,3,B,B,B,B

In [15]:
sexrace_df=sexrace_df.rename(columns = {'STATE': 'state','Sex, Race and Hispanic-Origin':'sex_race','Total Citizen Population':'total_citizen_population',
                          'Percent registered\n(Citizen)':'percent_registered_citizen',
                          'Percent voted\n(Citizen)':'percent_voted_citizen'})

In [16]:
#view rows with "B"
sexrace_df[sexrace_df.values == 'B']
#replace the B with Nan and save as a new dataframe
clean_sex_race=sexrace_df.replace(to_replace ="B", value ="Nan")
clean_sex_race

,state,sex_race,Total Population,total_citizen_population,Total registered,Percent registered\n(Total),Margin of Error 1,percent_registered_citizen,Margin of Error 1,Total voted,Percent voted\n(Total),Margin of Error 1,percent_voted_citizen,Margin of Error 1
2,US,Male,"118,488","107,554","73,761",62.3,0.4,68.6,0.4,"63,801",53.8,0.4,59.3,0.5
3,US,Female,"127,013","116,505","83,835",66.0,0.4,72.0,0.4,"73,735",58.1,0.4,63.3,0.4
4,US,White alone,"192,129","177,865","127,463",66.3,0.3,71.7,0.3,"111,891",58.2,0.3,62.9,0.4
5,US,White non-Hispanic alone,"157,395","154,450","114,151",72.5,0.3,73.9,0.3,"100,849",64.1,0.4,65.3,0.4
6,US,Black alone,"30,608","28,808","19,984",65.3,1.0,69.4,1.0,"17,119",55.9,1.1,59.4,1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,WYOMING,Asian alone,6,4,3,Nan,Nan,Nan,Nan,3,Nan,Nan,Nan,Nan
569,WYOMING,Hispanic (of any race),32,26,15,Nan,Nan,Nan,Nan,12,Nan,Nan,Nan,Nan
570,WYOMING,White alone or in combination,409,404,289,70.5,2.8,71.6,2.8,264,64.6,2.9,65.5,2.9
571,WYOMING,Black alone or in combination,6,6,6,Nan,Nan,Nan,Nan,4,Nan,Nan,Nan,Nan
572,WYOMING,Asian alone or in combination,7,4,3,Nan,Nan,Nan,Nan,3,Nan,Nan,Nan,Nan

In [17]:
clean_sex_race_df=clean_sex_race.set_index("state")
sex_race_df=clean_sex_race_df[['sex_race','total_citizen_population','percent_registered_citizen','percent_voted_citizen']]
sex_race_df.to_csv('../Clean_Data/voting_sex_race.csv')